name: build-base
on:
  workflow_dispatch:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Generate tag
        id: tag
        run: echo "tag=$(date +%s)" >> $GITHUB_OUTPUT
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base
          tags: ghcr.io/terrateamio/action-base:${{ steps.tag.outputs.tag }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
