name: ci
on:
  push:
    branches:
      - 'v1'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base
          tags: ghcr.io/terrateamio/action-base:latest
          platforms: linux/amd64,linux/arm64
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push action
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile
          tags: ghcr.io/terrateamio/action:v1
          platforms: linux/amd64,linux/arm64

      -
        name: Build and push FIPS UBI9 base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base.fips.ubi9
          tags: ghcr.io/terrateamio/action-base:fips-ubi9
          platforms: linux/amd64,linux/arm64
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push FIPS UBI9 action
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.fips.ubi9
          tags: ghcr.io/terrateamio/action:fips-ubi9
          platforms: linux/amd64,linux/arm64

      -
        name: Build and push FIPS AL2023 base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base.fips.al2023
          tags: ghcr.io/terrateamio/action-base:fips-al2023
          platforms: linux/amd64,linux/arm64
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push FIPS AL2023 action
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.fips.al2023
          tags: ghcr.io/terrateamio/action:fips-al2023
          platforms: linux/amd64,linux/arm64
