name: ci
on:
  push:
    branches:
      - 'v1'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base
          tags: ghcr.io/terrateamio/action-base:latest

      - name: Build and push action
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile
          tags: ghcr.io/terrateamio/action:v1
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
