name: ci
on:
  push:
    branches:
      - 'v1'
jobs:
  docker:
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            platform: linux/amd64
          - runner:
              group: action-arm64
            platform: linux/arm64
    runs-on: ${{ matrix.runner }}
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push base
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile.base
          tags: ghcr.io/terrateamio/action-base:latest
          platforms: ${{ matrix.platform }}
          build-args: |
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push action
        uses: docker/build-push-action@v3
        with:
          push: true
          file: Dockerfile
          tags: ghcr.io/terrateamio/action:v1
          platforms: ${{ matrix.platform }}
